.main-skills {
  width: 500px;
  height: 400px;
  background-color: #D0D0D0;
  margin-left: 100px;
  margin-top: 50px;
  font-family: 'Overpass Mono', monospace;
  border-radius: 50px 15px;
  padding: 5px;
  float: left;
}

/*  sustenta a caixa e o titúlo da direita */
.rigth-side {
  height: 410px;;
  width: 550px;
  /* background-color: lime; */
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}

.words-box {
  width: 500px;
  height: 300px;
  background-color: #C0C0C0;
  /* margin-right: 120px; */
  font-family: 'Overpass Mono', monospace;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  float: right;
  overflow: auto;

}

.words-title {
  width: 500px;
  /* background-color: red; */
  float:right;
  font-family: 'Overpass Mono', monospace;
  font-size: 26px;
  text-align: right;
}


.skill-tag {
  height: 15px;
  border-radius: 30px;
  padding: 5px;
  margin-left: 11px;
  margin-top: 10px;
  background-color: #400080;
  border: solid 2px #26004d;
  text-shadow: 1px 0px black;
  color: #a64dff;
  float: left;
  display: flex;
  align-items: center;
}

.skill-tag:hover {
  opacity: 0.7;
}


.filter-value {
  /* height: 8px; */
  /* border-radius: 30px; */
  /* margin-left: 7px;
  margin-top: 7px; */
  height: 15px;
  padding: 5px;
  margin-left: 11px;
  margin-top: 10px;
  /* background-color: #BBBBBB; */
  /* border: solid 1px #EEEEEE; */
  /* text-shadow: 1px 0px black; */
  color: black;
  float: right;
  display: flex;
  align-items: center;
}

.word-tag:hover {
  opacity: 0.7;
}


/* left side */
.left-side {
  height: 360px;;
  width: 500px;
  border-color: black;
  border-style: dashed;
  border-width: 3px;
  float: left;
  margin-left: 140px;
  margin-top: 120px;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid;
  margin-right: 5px;
}

input:checked {
  outline: 0px;
  border: 4px solid #26004d;
}

input:active {
  outline: 0px;
}
