.main-skills {
  width: 500px;
  height: 400px;
  background-color: #D0D0D0;
  margin-left: 100px;
  margin-top: 50px;
  font-family: 'Overpass Mono', monospace;
  border-radius: 50px 15px;
  padding: 5px;
  float: left;
}

.to-learn-skills {
  width: 500px;
  height: 300px;
  background-color: #C0C0C0;
  margin-right: 120px;
  margin-top: 80px;
  font-family: 'Overpass Mono', monospace;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  float: right;
  overflow: auto;
}

.skill-tag {
  height: 15px;
  border-radius: 30px;
  padding: 5px;
  margin-left: 11px;
  margin-top: 10px;
  background-color: #400080;
  border: solid 2px #26004d;
  text-shadow: 1px 0px black;
  color: #a64dff;
  float: left;
  display: flex;
  align-items: center;
}

.skill-to-learn {
  height: 8px;
  border-radius: 30px;
  padding: 5px;
  margin-left: 7px;
  margin-top: 7px;
  background-color: #00802b;
  border: solid 1px #004d1a ;
  text-shadow: 1px 0px black;
  color: #4dff88;
  float: left;
  display: flex;
  align-items: center;
}

.skill-tag:hover{
  opacity: 0.7;
}

.skill-to-learn:hover {
  opacity: 0.7;
}
.color-test {
  width: 100%;
  height: 40px;
  /* background-color: red; */
  float: left;
  font-size: 26px;
  text-align: center;
  padding-top: 25px;
}
